@import "styles/var";

.wrapper {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1.2em 1.6em;
  border-radius: 40px;
  background: $yellow;
  width: 100%;

  @include md {
    width: initial;
  }

  svg {
    margin-left: 10px;
  }
}