@import "styles/var";

.header {
  width: 100%;
  margin: 0 auto;

  @include lg {
    width: 500px;
  }

  h5 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px 0;

    @include lg {
      font-size: 24px;
    }
  }

  p {
    margin: 10px 0 0;
    font-size: 24px;

    @include lg {
      font-size: 32px;
    }
  }
}

.videoWrapper {
  width: 100%;

  video {
    width: 100%;
  }
}