@import 'repeatedClasses';
@import 'var';

body {
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  background-position: center;
  font-family: $font-primary !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: $font-secondary;
}

main {
  flex-grow: 1;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  font-family: $font-secondary, sans-serif;
  background-color: transparent;
  border: none;
  text-transform: inherit;
}

figure {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.md-only {
  @media (max-width: $md - 1px) {
    display: none !important;
  }
}

.md-end {
  @include md {
    display: none !important;
  }
}

.lg-only {
  @media (max-width: $lg - 1px) {
    display: none !important;
  }
}

.lg-end {
  @include lg {
    display: none !important;
  }
}

.sm-only {
  @include md {
    display: none !important;
  }
}

.xs-only {
  @media (max-width: $sm - 1px) {
    display: none !important;
  }
}

.xs-end {
  @include sm {
    display: none !important;
  }
}

.Toastify.hide {
  opacity: 0;
  pointer-events: none;
}

.Toastify__toast--error {
  background: #2e2e2e !important;
}

button {
  color: black;

  &:disabled {
    cursor: auto;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus::placeholder {
  opacity: 0;
}
textarea:focus::placeholder {
  opacity: 0 !important;
}

.noWrap {
  white-space: nowrap;
}
